* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: #143b5b;
  background-color: #bbd9fc;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5; }

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  header .navbar {
    background-color: #164061;
    border-bottom: #ffffff double 3px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; }
    header .navbar .navbar-brand .logo_img {
      height: 40px; }
    header .navbar .navbar-collapse {
      text-align: right;
      justify-content: flex-end; }
    header .navbar .dropdown-menu {
      background-color: #0a5592;
      border: #013056 double 2px;
      text-align: end;
      margin-left: 15px;
      margin-right: 15px;
      border-radius: 20px; }
    header .navbar .dropdown-item {
      color: #dbdbdb;
      margin-bottom: 5px; }
    header .navbar .dropdown-item:hover {
      color: #ffffff;
      background-color: #085da300; }

.navbar-dark .navbar-nav .nav-link {
  font-weight: 400;
  color: #ffffff;
  margin-right: 15px;
  border-radius: 60px;
  padding: 10px 20px;
  transition: all .5s; }

.navbar-dark .navbar-nav .nav-link:hover {
  background-color: #058adc48; }

.active {
  background-color: #058adc5f;
  color: #ffffff;
  border: 1px #d3e7ff solid; }

.footer {
  height: 80px;
  border-top: double 3px #ffffff;
  background-color: #164061; }
  .footer .footer__redes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    padding-top: 10px; }
  .footer .footer__redes__img {
    height: 40px;
    padding: 10px; }
  .footer .footer__redes__img:hover {
    cursor: pointer; }
  .footer .copy {
    color: #ffffff;
    text-align: center;
    font-size: .9rem;
    padding-bottom: 5px;
    margin-bottom: 10px; }

.main__index .trespasos {
  text-align: center;
  margin: 40px auto;
  margin-top: 120px;
  width: 80%;
  border: 3px double #143b5b;
  border-radius: 10px;
  background: #aad9ffe6;
  background: radial-gradient(circle, #cce9f9 0%, #aad9ffe6 70%); }

.main__index .trespasos__titulo h1 {
  color: #10304a;
  font-weight: bold;
  margin: 20px 10px;
  font-style: italic; }

.main__index .trespasos h2 {
  font-weight: bold;
  text-decoration: underline; }

.main__index .trespasos img {
  height: 40px;
  margin-bottom: 25px;
  text-align: center;
  scale: 1.1;
  transition: all .3s; }

.main__index .trespasos img:hover {
  scale: 1.6; }

.main__index .paso-1, .main__index .paso-2, .main__index .paso-3 {
  padding: 35px;
  font-size: 1.2rem; }

.main__index .paso-1 p, .main__index .paso-2 p, .main__index .paso-3 p {
  font-weight: 400;
  margin-top: 10px; }
  .main__index .paso-1 p span, .main__index .paso-2 p span, .main__index .paso-3 p span {
    font-weight: bold;
    font-style: italic; }

.cartas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .cartas .card {
    color: #143b5b;
    background-color: #aad9ffe6;
    width: 15rem;
    padding: 10px;
    margin: 30px;
    border: double #395b76d5 3px;
    border-radius: 25px;
    text-align: center;
    transition: all 1s; }
  .cartas .card:hover {
    border: double #10304a 3px;
    padding: 15px;
    border-radius: 0px; }
  .cartas .card p {
    font-weight: bold; }

/*------- Pagina de contacto------ */
.main__contacto {
  /* titulo */ }
  .main__contacto .tituloCont {
    background-color: #aad9ffe6;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border: #10304a 3px solid;
    border-radius: 60px;
    margin-top: 120px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 20px;
    border-radius: 60px;
    transition: all 1s; }
  .main__contacto .tituloCont:hover {
    border-radius: 0px; }

.contenedor {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
  border: 5px double white;
  border-radius: 40px; }
  .contenedor .form-label {
    font-weight: bold;
    padding-top: 20px; }
  .contenedor .form-control {
    margin: 0 auto;
    width: 90%; }
  .contenedor .btn {
    margin: 20px 0; }
  .contenedor .border {
    border: 2px solid #10304a; }

.main__about {
  /* contenedor */ }
  .main__about .about {
    padding: 25px;
    margin-top: 100px;
    /* titulo */ }
    .main__about .about .sobreNosotros {
      font-style: italic;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      padding: 10px;
      text-decoration: underline; }
    .main__about .about .conocenos {
      /* subtitulo 1*/ }
      .main__about .about .conocenos .about__conocenos__h2 {
        font-weight: bold;
        padding-bottom: 30px; }
      .main__about .about .conocenos .about__conocenos__p {
        font-size: 1.2rem; }
        .main__about .about .conocenos .about__conocenos__p span {
          font-weight: bold; }
    .main__about .about .lavadoInst .lavadoInst__h3 {
      font-weight: bold;
      text-decoration: underline;
      font-style: italic;
      padding: 30px 0; }
    .main__about .about .lavadoInst .lavadoInst__p {
      font-size: 1.2rem; }
    .main__about .about .lavadoDom .lavadoDom__h3 {
      font-weight: bold;
      text-decoration: underline;
      font-style: italic;
      padding: 30px 0; }
    .main__about .about .lavadoDom .lavadoDom__p {
      font-size: 1.2rem;
      /* link a pagina de contacto */ }
      .main__about .about .lavadoDom .lavadoDom__p a {
        font-weight: bold;
        text-decoration: none;
        color: #143b5b;
        transition: all .3s; }
      .main__about .about .lavadoDom .lavadoDom__p a:hover {
        color: #24699b; }
      .main__about .about .lavadoDom .lavadoDom__p a:visited {
        color: #24699b; }
      .main__about .about .lavadoDom .lavadoDom__p span {
        font-weight: bold; }

/* --------pagina "Medios de pago" ---------- */
.main__mediosDePago .mediosDePago {
  text-align: center; }
  .main__mediosDePago .mediosDePago .row {
    /* titulo */
    /* subtitulos */ }
    .main__mediosDePago .mediosDePago .row .titMediosDePago {
      margin: 0 auto;
      background-color: #aad9ffe6;
      width: 60%;
      text-align: center;
      border: #10304a 3px solid;
      font-size: 1.7rem;
      font-weight: bold;
      font-style: italic;
      text-align: center;
      margin-top: 120px;
      margin-bottom: 10px;
      padding: 20px;
      border-radius: 60px;
      transition: all 1s; }
    .main__mediosDePago .mediosDePago .row .titMediosDePago:hover {
      border-radius: 0px; }
    .main__mediosDePago .mediosDePago .row .mp {
      height: 70px; }
    .main__mediosDePago .mediosDePago .row img {
      padding: 10px;
      scale: 1.0;
      transition: all .5s; }
    .main__mediosDePago .mediosDePago .row img:hover {
      scale: 1.4; }
    .main__mediosDePago .mediosDePago .row .subt__mediosdePago {
      font-size: 1.2rem;
      font-weight: bold;
      padding: 15px; }
    .main__mediosDePago .mediosDePago .row .efectivo, .main__mediosDePago .mediosDePago .row .transf, .main__mediosDePago .mediosDePago .row .mercPago {
      margin: 40px 0; }

.main__cort .cortinas .textCort {
  padding: 10px 30px;
  text-align: center; }
  .main__cort .cortinas .textCort .tituloCort {
    background-color: #aad9ffe6;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border: #10304a 3px solid;
    font-style: italic;
    margin-top: 120px;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border-radius: 60px;
    transition: all 1s; }
  .main__cort .cortinas .textCort .tituloCort:hover {
    border-radius: 0px;
    border: #10304a 3px solid; }
  .main__cort .cortinas .textCort .subtCort {
    text-decoration: underline;
    margin: 40px 0;
    font-size: 1.5rem; }
  .main__cort .cortinas .textCort p {
    font-size: 1.3rem;
    padding: 20px;
    font-style: italic; }
  .main__cort .cortinas .textCort .subtCort__2 {
    padding: 30px 0; }
  .main__cort .cortinas .textCort span {
    font-weight: bold;
    font-style: italic; }

/* carousel con imagenes*/
.imgCort {
  width: 60%;
  margin: 0 auto;
  z-index: 10;
  margin-bottom: 30px;
  border: 2px double #fff; }
  .imgCort p {
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
    background-color: #4c4c4cb3;
    border-radius: 30px;
    padding: 10px; }

.main__alf .alfombras .textAlf {
  padding: 10px 30px;
  text-align: center; }
  .main__alf .alfombras .textAlf .tituloAlf {
    background-color: #aad9ffe6;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border: #10304a 3px solid;
    font-style: italic;
    margin-top: 120px;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border-radius: 50px;
    transition: all 1s; }
  .main__alf .alfombras .textAlf .tituloAlf:hover {
    border-radius: 0px;
    border: #10304a 3px solid; }
  .main__alf .alfombras .textAlf .descAlf {
    font-size: 1.5rem;
    padding: 20px;
    margin: 30px; }
  .main__alf .alfombras .textAlf .textAlf__ejemplos {
    font-size: 1.5rem; }
  .main__alf .alfombras .textAlf span {
    font-weight: bold;
    font-style: italic; }

/*--- galeria de fotos responsive (page Alfombras)---- */
.imgAlf img {
  width: 250px;
  height: 250px;
  margin: 30px;
  border-radius: 20px;
  border: solid #395b76d5 3px;
  opacity: .8;
  object-fit: cover;
  object-position: center;
  transition: all 1s; }

.imgAlf img:hover {
  opacity: 1;
  border: double #10304a 3px;
  padding: 5px;
  border-radius: 0px; }

.main__tapi .tapizados .textTapi {
  padding: 10px 30px;
  text-align: center; }
  .main__tapi .tapizados .textTapi .tituloTapi {
    background-color: #aad9ffe6;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border: #10304a 3px solid;
    font-style: italic;
    margin-top: 120px;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border-radius: 60px;
    transition: all 1s; }
  .main__tapi .tapizados .textTapi .tituloTapi:hover {
    border-radius: 0px;
    border: #10304a 3px solid; }
  .main__tapi .tapizados .textTapi .descTapi {
    font-size: 1.5rem;
    padding: 20px;
    margin: 30px; }
  .main__tapi .tapizados .textTapi .text__decor {
    font-style: italic; }
  .main__tapi .tapizados .textTapi .text__decor2 {
    font-weight: bold;
    font-style: italic; }

/* carousel con imagenes */
.carouselSillon {
  width: 40%;
  margin: 0 auto;
  z-index: 10;
  margin-bottom: 30px;
  border: 2px double #fff; }

.main__404 h1 {
  margin-top: 140px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-style: italic;
  font-size: 1.5rem;
  font-weight: bold; }

.main__404 .container__404 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .main__404 .container__404 .error_404_container .error_404_gif {
    width: 30vh;
    margin: 30px 20px;
    transition: 1s;
    scale: 1.0;
    box-shadow: 2px 2px 15px 1px #ffffff, -2px -2px 15px 1px #ffffff; }
  .main__404 .container__404 .error_404_gif:hover {
    box-shadow: 2px 2px 15px 1px #ffe2a5db, -2px -2px 15px 1px #ffe2a5db; }

.main__404 .boton_volver {
  text-decoration: none;
  padding: 20px;
  background-color: #00000000;
  color: #143b5b;
  border: 2px #10304a solid;
  border-radius: 30px;
  margin: 40px 0;
  box-shadow: 2px 2px 10px 2px #545454;
  transition: all .5s; }
  .main__404 .boton_volver a {
    text-decoration: none;
    color: #143b5b;
    font-size: 1.5rem;
    font-weight: bold; }

.main__404 .boton_volver:hover {
  background-color: #aad9ffe6; }
