*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: #ffffff;
    background-color:#3a94d5;
    background-image: url(../multimedia/Fondo-web-claro-2.png);
    font-family: "Noto Sans Thai", "sans-serif";
    line-height: 1.5;
}


/* ------ barra de navegación-------- */

.navbar{
    background-color:#3a94d5 ;
    background: linear-gradient(to bottom, #35c6f7, #47a8ed);
    border-bottom: double 3px #ffffff;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar .dropdown-menu{
    background-color:#3a94d5 ;
    background: linear-gradient(to bottom, #22b7e9, #42a3e8);
    color: #fff;
}

.logo_img{
    width: 290px;
    
}








/* ------ seccion principal index -------- */

.section3Pasos{
    text-align: center;
    margin: 40px auto;
    margin-top: 100px;
    width: 80%;
    border: 3px double #ffffff;
    border-radius: 10px;
    background-color:#3a94d5 ;
    background: linear-gradient(to top, #4ccbf5, #48a4e6);
}

.section3Pasos h1, .section3Pasos h2{
    font-weight: bold;
}

.enTresPasos{
    margin-top: 15px;
    text-decoration: underline;
    font-style: italic;
}

.paso-1, .paso-2, .paso-3{
    padding: 30px;
    font-size: 1.2rem;
}



/*--- fotos de la pagina index--- */

.card{
    color: #ffffff;
    width: 15rem;
    padding: 10px;
    margin: 30px;
    background-color:#3a94d54e;
    border: double #ffffff 3px;
    border-radius: 20px;
    text-align: center;
}

.card img{
    border-radius: 10px;
}

.cartas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}










/*------- Pagina de contacto------ */

/* titulo */
.tituloCont{
    margin-top: 100px;
    padding: 10px;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
}

/* formulario de contacto */
.formulario{
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 20px;
    margin: 40px auto;
    width: 95%;
    border: 2px double white;
    border-radius: 10px;
    background-image: linear-gradient(rgba(19, 47, 77, 0.5), rgba(0, 0, 0, 0.5)), url(../multimedia/img_backround3.jpg);
    background-size: cover;
}

.formulario label{
    margin-bottom: 25px;
}
.formulario textarea{
    padding: 20px;

}
.botonesForm{
    margin: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}






/* -------- Medios de pago ---------- */


/* titulo */
.titMediosDePago{
    margin-top: 100px;
    font-size: 1.8rem;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding: 10px;
    text-decoration: underline;
}

/* contenedores generales */
.mediosDePago{
    text-align: center;
}
.efectivo, .transf, .mp{
    padding: 20px;
}

/* sub-titulos */
.mediosDePago h2{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 15px;
}









/* --------- Sobre Nosotros ------------- */

/* titulo */
.sobreNosotros{
    font-style:italic;
    margin-top: 80px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    text-decoration: underline;
}

/* contenedor */
.about{
    padding: 25px;
}

/* subtitulo */
.conocenos h2{
    font-weight: bold;
    text-decoration: underline;

}

/* subtitulos de menor importancia */
.lavadoInst h3 , .lavadoDom h3{
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
    
}

/* textos */
.conocenos p{
    font-style: italic;
    font-size: 1.2rem;
    padding-bottom: 30px;
}

.lavadoInst, .lavadoDom{
    padding-bottom: 30px;
    font-size: 1.2rem;

}

/* link a pagina de contacto */
.lavadoDom a{
    font-weight: bold;
    color: #24699b;
}
.lavadoDom a:visited{
    color: #24699b;
}








/* ----------- SECCIONES DE SERVICIOS------------ */

/* ---formatos de textos---- */

.textCort h1, .textTapi h1, .textAlf h1{
    font-style: italic;
    margin-top: 100px;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    text-decoration: underline;
}

.textCort, .textTapi, .textAlf{
    padding: 10px 30px;
    text-align: center;
}

.textCort p, .textTapi p, .textAlf p{
    font-size: 1.5rem;
}
.textCort p{
    padding: 20px;
    border: #fff solid 2px;
    border-radius: 50px;
    margin: 30px;
    font-style: italic;
}
.textAlf__ejemplos{
    font-style: italic;
}



/* -------- pagina de cortinas ---------------- */

/* carousel */
.imgCort{ 
    width: 70%;
    margin: 0 auto;
    z-index: 10;
    margin-bottom: 30px;
    border: 2px double #fff;
}


/* ---- pagina de tapizados ----- */

/* carousel */
.carouselSillon{
    width: 70%;
    margin: 0 auto;
    z-index: 10;
    margin-bottom: 30px;
    border: #fff double 3px;
}


/*--- galeria de fotos responsive (page Alfombras)---- */
.imgAlf img{
    width: 300px;
    height: 300px;
    margin: 35px;
    border-radius: 20px;
    border: double #6e6b6bc3 4px;
    opacity: .9;
    object-fit: cover;
    object-position: center ;
}
.imgAlf img:hover{
    opacity: 1;
    border: double #ffffff 5px;
}









/* -------- footer --------- */


.footer{

    border-top: double 3px #ffffff;
}

.footer__redes{
    display: flex;
    margin: 20px auto;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}

.footer__redes__img{
    height: 40px;
    padding: 10px;
}
.footer__redes__img:hover{
    cursor: pointer;
}

.copy{
    color: white;
    text-align: center;
    align-self: flex-end;
    font-size: .9rem;
}

@media screen and (max-width: 380px){
    .logo_img{
        width: 200px;
    }
}