// header //
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    // menu de navegación //
    .navbar{
        background-color: #164061;
        border-bottom: #ffffff double 3px;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;

        // logo empresa //
        .navbar-brand{
            .logo_img{
            height: 40px;            
            }
        }
        // posicion de menu //
        .navbar-collapse{
            text-align: right;
            justify-content: flex-end;
        }
        // estilo de menu mobile//
        .dropdown-menu{
            background-color: #0a5592;
            border: #013056 double 2px;
            text-align: end;
            margin-left: 15px;
            margin-right: 15px;
            border-radius: 20px;
        }
        .dropdown-item{
            color:#dbdbdb;
            margin-bottom: 5px;
        }
        .dropdown-item:hover{
            color: #ffffff;
            background-color: #085da300;
        }
    }
}
.navbar-dark .navbar-nav .nav-link {
    font-weight: 400;
    color: #ffffff;
    margin-right: 15px;
    border-radius: 60px;
    padding: 10px 20px;
    transition: all .5s;
}
.navbar-dark .navbar-nav .nav-link:hover{
    background-color: #058adc48;
    }
    .active{
    background-color: #058adc5f;
    color: #ffffff;
    border: 1px #d3e7ff solid;
    }