//  pagina "Sección de tapizados" //
.main__tapi{
    // contenedor general//
    .tapizados{
        // contenedor //
        .textTapi{
        padding: 10px 30px;
        text-align: center;
        // titulo //
            .tituloTapi{
                background-color: $celeste;
                width: 80%;
                margin: 0 auto;
                text-align: center;
                border: $azuloscuro 3px solid;
                font-style: italic;
                margin-top: 120px;
                font-size: 1.7rem;
                font-weight: bold;
                text-align: center;
                padding: 20px;
                border-radius: 60px;
                transition: all 1s;
            }
            // transicion //
            .tituloTapi:hover{
                border-radius: 0px;
                border: $azuloscuro 3px solid;
            }
            // parrafo //
            .descTapi{
                font-size: 1.5rem;
                padding: 20px;
                margin: 30px;
            }
            // estilo textos //
            .text__decor{
                font-style: italic;
            }
            .text__decor2{
                font-weight: bold;
                font-style: italic;
            }

        }
    }
}
/* carousel con imagenes */
.carouselSillon{ 
    width: 40%;
    margin: 0 auto;
    z-index: 10;
    margin-bottom: 30px;
    border: 2px double #fff;
}